body{
  /* background-color:rgba(206, 198, 198, 0.603); */
}
a{
	color: rgb(53, 53, 255);
	text-decoration: none;
}
a:hover{
	color: #09F;
}
h1{
	text-align: center;
}
footer{
	padding: 5px;
	/* position: fixed; */
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	margin: 0;
	background-color: rgb(201, 226, 236);
}

/*==============
== Header CSS ==
==============*/
nav{
  overflow: hidden;
  /* background-color:rgb(245, 244, 244); */
  background-color: rgb(134, 194, 253);
}
main-header{
  font-family:'Oswald',sans-serif;
  padding: 10px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vw;
}
.page {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  margin-top: 10vw;
}

nav a {
  border-right: solid white 1px;
  display: inline;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
}

nav a:hover {
  font-size: 1.1rem;
  background-color: rgba(134, 194, 253, 0.61);
  color: rgb(245, 244, 244);
}

/*==================
== Login Form CSS ==
==================*/
form{
	text-align: center;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
	padding: 5px;
	width: 66%;
	background-color: rgb(102, 194, 255);
	border: slategrey solid 1px;
	border-radius: 15px;
}
input{
	margin-top: 15px;
	color: black;
	background-color: #BEE9E8;
	border: #EEE solid 1px;
	border-radius: 5px;
  	padding: 3px 6px;
}
.lst{
	margin-bottom: 15px;
}

#login-button{
	background-color: #BEE9E8;
	border:#FFF solid 1px;
	border-radius: 5px;
	margin-top: 5px;
}
fieldset{
	border: none;
}
legend{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.5em;
	text-align: left;
}
label{
	margin-top: 5px;
	display: block;
	font-size: 1.15rem;
}
form h1 {
  font-family: "Righteous", "Passion One", arial;
}
textarea{
	background-color: #BEE9E8;
	border-radius: 12px;
	height: 100px;
	width: 370px;
	margin-top: 5px;
}
.forgot{
	margin: 5px;
	margin-right: -90px;
	font-size: .75rem;
}
#ageLabel{
	margin: 5px;
}
#email-body{
	height: 200px;
	width: 530px;
}